[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "pack/plugins/start/nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "pack/plugins/start/ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "pack/plugins/start/undotree"]
	path = pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "pack/plugins/start/LeaderF"]
	path = pack/plugins/start/LeaderF
	url = https://github.com/Yggdroot/LeaderF
[submodule "pack/plugins/start/YouCompleteMe"]
	path = pack/plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "pack/plugins/opt/vim-solarized8"]
	path = pack/plugins/opt/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
